.card {
    display: flex;
    align-items: center;
    margin-top: 10px;

    .content {
        min-height: 85px;
        max-height: 85px;
        display: grid;
        grid-template-columns: 1fr 1fr 0.5fr 0.2fr;
        width: 100%;
        margin-left: 10px;
        background-color: #ffffff;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.0784313725);
        border-radius: 1rem;
        padding: 14px;

        img {
            object-fit: cover;
            border-radius: 1rem;
            transform: translate3d(0px, 0px, 0.1px);

        }
    }

    .definition {
        border-left: 3px solid #EAEAEA;
        padding: 0px 10px;
    }
}