.container {
    padding: 0 70px;
    margin-top: 1rem;
}

.header {
    padding: 14px;
    background-color: #ffffff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.0784313725);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;


    h3 {
        margin: 0;
    }

    img {
        object-fit: cover;
        border-radius: 1rem;
    }
}

.inner {
    height: 130px;
    max-height: 130px;
}

.left {
    display: flex;
}

.header__info {
    margin-left: 10px;
}

.description {
    max-width: 900px;
}

.right {
    display: flex;
    justify-content: space-between;
}

.cards {
    padding-bottom: 10px;
}

.modal__container {
    width: 40vw;
}

@media only screen and (max-width: 625px) {
    .container {
        padding: 0 10px;
    }

    .modal__container {
        width: auto;
    }
}