.dictionary__container {}

.dictionary__content {
    padding: 0px 10%;
}

.dictionary__table {
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dictionary__table__container {
    padding: 0 10rem;
    margin-top: 0.5rem;
}

.file__upload {
    span {
        width: 100%;
    }
}

.modal__container {
    width: 40vw;
    min-width: 255px;
}

.details__modal__container {
    width: auto;
    margin: 0 0.5rem;
}

.details__modal__content {
    display: flex;
}

.details__content__image {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.selected__container {
    display: flex;
    align-items: center;
}

.selected__buttons {
    display: flex;
    align-items: center;
}

@media (min-width: 1024px) {
    /* Стили для ноутбуков и десктопов */
}

@media (min-width: 768px) and (max-width: 1023px) {
    .dictionary__table__container {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .dictionary__table__container {
        padding: 0;
    }

    .modal__container {
        width: auto;
    }

    .details__modal__container {
        width: 100%;
    }

    .details__modal__content {
        display: block;
    }

    .details__content__image {
        margin-left: 0;
        margin-top: 2rem;
    }

    .selected__container {
        flex-direction: column;
        align-items: start;
    }

    .selected__buttons {
        margin-top: 0.5rem;
    }
}